{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->

<h1>The Knitting Nook</h1>
<p>Welcome to the Knitting Nook, your cozy corner of the internet dedicated to all things knitting! Whether you're a
    seasoned pro or just picking up your first set of needles, our community is here to inspire, educate, and celebrate
    the art of knitting. Dive into a world of beautiful patterns, helpful tutorials, and vibrant discussions, and join
    us in creating something truly special, one stitch at a time. Start your knitting journey with us today!</p>
        

<!-- index.html content ends here -->
{% endblock %}